.App {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(131, 187, 243);
}

.board {
  width: 75%;
  border: 2px solid green;
  margin: auto;
  height: 80%;
}

.row {
  display: flex;
  height: 32.5%;
}

.cell {
  height: 100%;
  width: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.border {
  background-color: dodgerblue;
  padding: 5px;
}

.hrbr {
  display: block;
  padding: 5px;
  background-color: dodgerblue;
}
